body {
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.info__features {
    gap: 1rem; /* 20px between features */
    max-width: 22.3125rem; /* 264px */

  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../assets/images/background-linkedin.png') center/cover no-repeat;
  }
  .hero__subtitle{
    padding-bottom: 1.6rem;
  }

.info__wrapper--reversed{
  background: #FFFFFF;
  color: #000000;
}

.info__icon{
  content: url('../assets/icons/checkmark-blue.svg');
}


@media (max-width: 675px) {

  .hero__title {
   text-align: left;
  }
  .hero__content{
    text-align: left;
  }
  .hero__subtitle{
    text-align: left;
  }
  .hero__session__subtitle{
    justify-self: left;
  }

}